* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: "smooth";
}

body {
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 6px;
  border: 3px;
}
